<div class=" d-flex w-100 h-100 p-3 mx-auto flex-column" id="htmlData" #htmlData>
  <main role="main" class="inner cover">
    <h1 class="cover-heading">How to use GetResume.io </h1>
    <p class="lead">
      To get your perfect free resume you need to
    </p>
    <ol class="lead">
      <li>Enter the information you want in the all fields of the form.</li>
      <li>Upload your photo.</li>
      <li>Click on button "Preview".</li>
    </ol>

    <p class="lead">
      Afterwards, the new page with your ready resume will be opened.
    </p>
    <hr>
    <div class="row-cols-md-8">
    <p class="lead font-weight-bold">
      How to save a resume as a PDF file ?
    </p>
    <p class="lead">
      Web browser's menu bar:<br>
    </p>
    <ol class="lead">
      <li>Choose File > Print.</li>
      <li>Click the <b>Save as PDF</b>.</li>
      <li>Unchecked "Headers and footers" options if it is needed.</li>
      <li>Choose a name and location for the PDF file. Enter the information you want in the Title, Author and Keywords fields.</li>
    </ol>
    </div>
    <div class="row-cols-2">
      <img src="../../assets/cv.png">
    </div>
    <hr>
    <p class="lead font-weight-bold">
      This service is absolutely free. We would appreciate if you share the link of this website with your friends!
    </p>
  </main>


    <footer class="mastfoot mt-auto">
    <div class="inner mb-5">
      If you have any quiestions or suggestions regarding this website you can send it on mail@getResume.io
    </div>
      <a href="#" class="btn btn-lg btn-secondary">Back to home page</a>
  </footer>
</div>
