<div class="lead">
  <p class="text-center h3 my-4">Welcome to GetResume.io!</p>
  <p>
    This website provides you templates for your resume absolutely FREE and without registration!
    We would appreciate if you share the link on this website with your friends on social media!
  </p>
</div>


<share-buttons [theme]="'circles-dark'"
               [include]="['facebook','twitter','linkedin','pinterest','reddit','tumblr','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
               [show]="17"
               [showText]="true"
               [size]="4"
               [url]="'https://twitter.com/'"
               [title]="'GetResume.io'"
               [description]="'Get a free template for your perfect resume!'"
               [tags]="'#FreeResume, #freeCV'"
></share-buttons>
