.editText {
  font-size: 1rem !important;
}

.headerSquare {
  padding: .5rem;
  margin: .5rem;
  background: black;
  font-size: 1.2rem;
  color: white;
  border-radius: .5rem;

  input {
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    text-align: left;
  }
  .fa {
       font-size: 1rem;
  }

  i {
      padding-right: .3rem;
  }
}

.skillInput
{
  font-size: 1rem;
  margin-right: 3rem;
  border-top:0;
  border-bottom: 1px solid black;
  border-left:0;
  border-right:0;
}

.photoFrame {
  width: 120px;
  height: 120px;
  color: grey;
  border-radius: 100%;
  box-shadow: 0 0 1px grey;
  background: white;
}

.gift {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: #d3d3d3;
}
.full {
  color: #ffa600;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffa600;
}

textarea {
  border:none;
  font-size: 1rem;
}

.btn-outline-info {
  border: none;
  text-decoration: underline;
}

.monthPicker {
  width: 150px;
  border-radius: 20%;
  border: 2px solid white;
  background: #f4f4f4;
}


body .bs-datepicker-container .bs-datepicker-head {
  background-color: #fff;
}
body .bs-datepicker-container .bs-datepicker-head * {
  color: #000;
}

.bs-datepicker-body{
  background: white !important;
}

.form-control{
  font-size: .8rem;
}

$main-color: #ffffff;

.image-upload-container {
  cursor: pointer;
}

.img-preview-container {
  background-color: #000000;
  position: relative;

  .img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 125px;
    width: 125px;

    &-error {
      display: none;
    }
  }
}

.img-loading-overlay {
  background-color: black;
  bottom: 0;
  left: 0;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 0;
}

.img-spinning-circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.img-spinning-circle:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  //border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-bwm {
  background-color: $main-color;
  border-color: $main-color;
  color: white;
  padding: 15px 30px;
  font-size: 20px;

  &:hover, &:focus, &:active {
    border-color: $main-color !important;
    background-color: $main-color !important;
  }
}
