<div  id="htmlData" #htmlData>
  <div class="headerSquare">
    <div class="row">
      <div class="col-2">
        <input [ngStyle]="getStyles()"type="text"  [(ngModel)]="fname" name="firstName" placeholder="FIRST NAME" style="margin-top:2rem;text-align:center;background: #000;">
        <input [ngStyle]="getStyles()"type="text" [(ngModel)]="sname" placeholder="SECOND NAME" style="text-align:center;background: #000;">
     </div>
      <div class="col">
        <i class="fa fa-home"></i> <input [ngStyle]="getStyles()" [(ngModel)]="country" type="text" placeholder="Country, City">
        <input [ngStyle]="getStyles()"type="text" [(ngModel)]="city" placeholder="Street, Bld, App." style="text-align: left;">
        <input [ngStyle]="getStyles()"type="text" [(ngModel)]="postCode" placeholder="Post code" style="text-align:left;">
      </div>
      <div class="col">
        <i class="fa fa-flag"></i> <input [ngStyle]="getStyles()" [(ngModel)]="citizenShip" type="text" placeholder="Citizenship"><br/>
        <i class="fa fa-envelope"></i><input [ngStyle]="getStyles()" [(ngModel)]="email" type="text" placeholder="email"><br/>
        <i class="fa fa-phone" style="font-size: 1rem;"></i><input [ngStyle]="getStyles()" [(ngModel)]="phone"  type="text" placeholder="phone">
      </div>
      <div class="row-cols-md-7">
        <i class="fa fa-globe"></i> <input [ngStyle]="getStyles()"type="text" [(ngModel)]="web" placeholder="Web"><br/>
        <i class="fa fa-skype"></i> <input [ngStyle]="getStyles()"type="text" [(ngModel)]="skype" placeholder="Skype"><br/>
        <i class="fa fa-github"></i> <input [ngStyle]="getStyles()"type="text" [(ngModel)]="gitHub" placeholder="GitHub"><br/>
      </div>
      <div class="col">
        <div>
          <div *ngIf="selectedFile" class="img-preview-container">
            <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}} photoFrame"
                 [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
<!--  Beginning of the resume body -->
  <div class="row">
    <div class="col ml-2"> <strong class="fa fa-user-circle h4"> Profile: </strong>
      <div id="quill" class="editText">
        <quill-editor id="edit1" [(ngModel)]="profile" placeholder="A few words about yourself...">
        </quill-editor>
      </div>
    </div>
    <div class="col h4"> <strong class="fa fa-language"> Languages: </strong>
      <select name="lang" class="mat-h5"  [(ngModel)]="selectedLang">
        <option value="">Choose a Language...</option>
        <option value="Afrikaans">Afrikaans</option>
        <option value="Albanian">Albanian</option>
        <option value="Arabic">Arabic</option>
        <option value="Armenian">Armenian</option>
        <option value="Basque">Basque</option>
        <option value="Bengali">Bengali</option>
        <option value="Bulgarian">Bulgarian</option>
        <option value="Catalan">Catalan</option>
        <option value="Cambodian">Cambodian</option>
        <option value="Chinese (Mandarin)">Chinese (Mandarin)</option>
        <option value="Croatian">Croatian</option>
        <option value="Czech">Czech</option>
        <option value="Danish">Danish</option>
        <option value="Dutch">Dutch</option>
        <option value="English">English</option>
        <option value="Estonian">Estonian</option>
        <option value="Fiji">Fiji</option>
        <option value="Finnish">Finnish</option>
        <option value="French">French</option>
        <option value="Georgian">Georgian</option>
        <option value="German">German</option>
        <option value="Greek">Greek</option>
        <option value="Gujarati">Gujarati</option>
        <option value="Hebrew">Hebrew</option>
        <option value="Hindi">Hindi</option>
        <option value="Hungarian">Hungarian</option>
        <option value="Icelandic">Icelandic</option>
        <option value="Indonesian">Indonesian</option>
        <option value="Irish">Irish</option>
        <option value="Italian">Italian</option>
        <option value="Japanese">Japanese</option>
        <option value="Javanese">Javanese</option>
        <option value="Korean">Korean</option>
        <option value="Latin">Latin</option>
        <option value="Latvian">Latvian</option>
        <option value="Lithuanian">Lithuanian</option>
        <option value="Macedonian">Macedonian</option>
        <option value="Malay">Malay</option>
        <option value="Malayalam">Malayalam</option>
        <option value="Maltese">Maltese</option>
        <option value="Maori">Maori</option>
        <option value="Marathi">Marathi</option>
        <option value="Mongolian">Mongolian</option>
        <option value="Nepali">Nepali</option>
        <option value="Norwegian">Norwegian</option>
        <option value="Persian">Persian</option>
        <option value="Polish">Polish</option>
        <option value="Portuguese">Portuguese</option>
        <option value="Punjabi">Punjabi</option>
        <option value="Quechua">Quechua</option>
        <option value="Romanian">Romanian</option>
        <option value="Russian">Russian</option>
        <option value="Samoan">Samoan</option>
        <option value="Serbian">Serbian</option>
        <option value="Slovak">Slovak</option>
        <option value="Slovenian">Slovenian</option>
        <option value="Spanish">Spanish</option>
        <option value="Swahili">Swahili</option>
        <option value="Swedish ">Swedish </option>
        <option value="Tamil">Tamil</option>
        <option value="Tatar">Tatar</option>
        <option value="Telugu">Telugu</option>
        <option value="Thai">Thai</option>
        <option value="Tibetan">Tibetan</option>
        <option value="Tonga">Tonga</option>
        <option value="Turkish">Turkish</option>
        <option value="Ukrainian">Ukrainian</option>
        <option value="Urdu">Urdu</option>
        <option value="Uzbek">Uzbek</option>
        <option value="Vietnamese">Vietnamese</option>
        <option value="Welsh">Welsh</option>
        <option value="Xhosa">Xhosa</option>
      </select>
      <select name="lavelLang" class="mat-h5 ml-1" [(ngModel)]="selectedLangLevel">
        <option value="Beginner">Beginner</option>
        <option value="Pre-Intermediate">Pre-Intermediate</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Upper-Intermediate">Upper-Intermediate</option>
        <option value="Advance">Advance</option>
        <option value="Proficiency">Proficiency</option>
        <option value="Native">Native</option>
      </select>
      <button class="btn btn-outline-info fa fa-plus-square" style="margin-left: 0.5rem;" (click)="addLanguage()">Add</button>
      <div *ngFor="let lang of langArray">
        <div class="row">
          <div class="col text-center small"> {{lang.language}} ({{lang.level}})</div>
        </div>
      </div>
      <hr style="width: 100%; margin-left: 0">
    </div>
  </div>
  <div class="row">
      <div class="col ml-2 h5"> <strong class="fa fa-graduation-cap"> Education </strong>
        <button class="btn btn-outline-info fa fa-plus-square" style="margin-left: 0.5rem;" id="AddNewBtn" (click)="addEducation()"> Add education</button>
        <mat-accordion *ngFor="let form of eduArray; let i = index;">
          <mat-expansion-panel>
            <mat-expansion-panel-header>Education </mat-expansion-panel-header>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label  for="univer">University:</label>
                <input class="form-control" id="univer" type="text" [(ngModel)]="form.school" placeholder="School/College/University ... ">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Degree</label>
                <input type="email" class="form-control" [(ngModel)]="form.degree" id="inputEmail4" placeholder="Degree">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-3">
                <label class="h6 ml-1">Start date</label>
                <input type="text" class="form-control" style="width: 100px;" [(ngModel)]="form.start" [bsConfig]="bsConfig" bsDatepicker  value="{{ form.start | date:'MMM, yyyy' }}">
              </div>
              <div class="form-group col-3">
                <label class="h6 ml-3">End date: </label>
                <input type="text" class="form-control ml-3" style="width: 100px;" [(ngModel)]="form.end" [bsConfig]="bsConfig" bsDatepicker value="{{ form.end | date:'MMM, yyyy' }}">
              </div>
              <div class="form-group col-6">
                <label  for="edCityTitle">City:</label>
                <input class="form-control" id="edCityTitle" type="text" [(ngModel)]="form.city">
              </div>
            </div>
            <div class="form-row">
              <div class="col"><h6>Description:</h6>
                <div id="edQuill2" class="editText">
                  <quill-editor id="edit2" [(ngModel)]="form.decrpt" placeholder="A few words about yourself...">
                  </quill-editor>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>


        <hr style="width: 100%; margin-left: 0">
    </div>
    <div class="col ml-2 h4 fa">
      <h5> Professional skills:
        <button class="btn btn-outline-info fa fa-plus-square"  style="margin-left: 5rem;" id="AddNewBtnSkills" (click)="addNewSkill()" >Add a new skill</button>
      </h5>
      <br>
      <div *ngFor="let skill of skillsArray; let i = index">
        <input type="text" class="skillInput" [(ngModel)] = skillsArray[i].skill name={{skillsArray[i].skill}} placeholder="skill">
        <ng-template #t let-fill="fill">
        <span class="gift" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">  <i class="fa fa-circle h6 ml-1"> </i>
            </span> <i class="fa fa-circle-o h6 ml-1"> </i>
        </span>
        </ng-template>
        <ngb-rating [(ngModel)]="skillsArray[i].skillValue" rate={{skillsArray[i].skillValue}} [starTemplate]="t" max="9"></ngb-rating>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col ml-2 h5"> <strong class="fa fa-briefcase"> Employment history: </strong>
      <button class="btn btn-outline-info fa fa-plus-square"  style="margin-left: 1rem;" (click)="addEmpl()">Add employement</button>
      <mat-accordion *ngFor="let form of emplArray; let i = index;">
        <mat-expansion-panel>
          <mat-expansion-panel-header>Job {{i+1}} </mat-expansion-panel-header>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label  for="jobTitle">Job title:</label>
              <input class="form-control" id="jobTitle" type="text" [(ngModel)]="form.job" placeholder="Job title ">
            </div>
            <div class="form-group col-md-6">
              <label  for="emplTitle">Employer:</label>
              <input class="form-control" id="emplTitle" type="text" [(ngModel)]="form.empl" placeholder="Emplyer... ">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-3">
              <label class="h6 ml-1">Start date</label>
              <input type="text" class="form-control" [(ngModel)]="form.start" style="width: 100px;"  [bsConfig]="bsConfig" bsDatepicker  value="{{ form.start | date:'MMM, yyyy' }}">
            </div>
            <div class="form-group col-3">
              <label class="h6 ml-3">End date: </label>
              <input type="text" class="form-control ml-3" style="width: 100px;" [(ngModel)]="form.end"  [bsConfig]="bsConfig" bsDatepicker  value="{{ form.end | date:'MMM, yyyy' }}">
            </div>
            <div class="form-group col-6">
              <label  for="cityTitle">City:</label>
              <input class="form-control" id="cityTitle" type="text" [(ngModel)]="form.city" placeholder="City... ">
            </div>
          </div>
          <div class="form-row">
            <div class="col"><h6>Description:</h6>
              <div id="edQuill3" class="editText3">
                <quill-editor id="edit3" [(ngModel)]="form.decrpt" placeholder="A few words about yourself...">
                </quill-editor>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
    <div class="col  h5"> <strong class="fa fa-certificate"> Cources & Trainings: </strong>
      <div>
        <quill-editor placeholder="A few words about yourself..." [(ngModel)]="cource">
        </quill-editor>
      </div>
    </div>
  </div>
</div>

<h3>Header of your CV</h3>
<div>
  <label for="colorPicker" class="ml-2">Customize color for the header &nbsp;</label>
  <input type="color" id="colorPicker" name="headColor" (change)="setColorHeader($event)" [value]="colorHeader">
  <label for="colorPicker" class="ml-5">Font Color &nbsp;</label>
  <input type="color"  name="fontColor" (change)="setColorFont($event)" [value]="fontColor">
  <label class="btn btn-outline-info mx-3 image-upload-container">
    <input #imageInput
           type="file"
           accept="image/*"
           (change)="processFile(imageInput)">
  </label>
  <button class="btn btn-success mx-3" (click)="previewPDF()"> Preview <i class="fa fa-paper-plane"></i></button>
</div>


<div>
  <button class="btn btn-success mx-3" (click)="openPDF()"> Download PDF <i class="fa fa-paper-plane"></i></button>
</div>
